body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
    height: auto;
    
    padding: 0;
    margin: 0;

    flex-direction: column;   
    
}


#navigation{
    position: relative;
    border: 1px solid;
    width: 100%;
    height: auto;
    padding: 25px;
    padding-left: 0%;
    padding-right: 0;
    background-color: rgb(46, 39, 39);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-image: url('');
    
    background-size: cover;
    background-position: center;
    
    
    }
#navimg{
    display: none;
    }


#navigation a{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: auto;
    font-size: 30px;
    
}
.home{
    margin-left: 200px;
}


#section{
    position: relative;
    display: flex;
    border: 1px solid;
    flex-wrap: wrap;
    
    width: 100%;
    height: 200px;
    

    justify-content: center;
    align-items: center;
}
#section img{
    height: 200px;
    margin: 0%;
    width: 100%;
}


#body{
    display: flex;
    max-height: 700px;
    width: 100%;
    height: 500px;
   
    margin: 0%;
    border: 1px solid;
    background-color: rgb(226, 228, 221);
    background-image: url('');
    
    background-size: cover;
    background-position: center;
    
    
}
.community{
    background-color: rgb(192, 179, 179);
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 5px;
    padding-right: 1px;
    padding-left: 1px;
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 1px;
    gap: 50px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.community section{
    
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid;
    height: 190px;
    width: 400px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.community span{
    
    display: flex;
    flex-direction: row;
}
.community nav{
    display: flex;
    flex-direction: column;
}
.community img{
    height: 30px;
    width: 30px;
}
.community a{
    font-size: 11px;
    color: rgb(106, 95, 202);
}


#choices{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1px;
    
    margin-right: 20px;
    margin-top: 0%;
    }
#choices button{
    height: 30px;
    width: 200px;
    border-radius: 15px;
    background-color: rgb(221, 88, 88);
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.tab-content{
    display: none;
    flex-direction: column;
    height: 478px;
    width: 87%;
    
    border: 1px solid;
    margin-top: 10px;
    margin-bottom: 0;
    overflow-y: scroll;
    background-color: white;

    
   }

#foot{
    border: 1px solid;
    width: 100%;
    height: 200px;
    background-color: rgb(12, 12, 11);
    color: white;
    margin-top: 5px;
    
    margin-bottom: 5px;
    }
  
 
 button:hover{
    scale: 1.1;
    background-color: var(--clr-accent);
    }
a:hover{
    scale: 1.1;
}
.community span:hover{
    scale: 1.1;
}

#foot p{
    margin-top: 90px;
}

#additional_info{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: auto;
    border: 1px solid;
}
#about{
    height: auto;
    padding: 40px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 1px solid;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

#contactus{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    height: auto;
    padding: 30px;
    width: 50%;
    
  
    border: 1px solid;
    margin-bottom: 100px;
}
#learnmore{
    border-radius: 50px;
    height: auto;
    width: 60%;
    border: 1px solid;
    margin-bottom: 10px;
    display: flex;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.video1 {
    height: auto;
    width: auto;
    margin-bottom: 10px;
}